<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/43746c48-43c9-4b59-82d6-941798db7d4b/resourcegroups/rg-mvc-essentials/providers/Microsoft.Web/sites/MvcEssentials</ResourceId>
    <ResourceGroup>rg-mvc-essentials</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mvcessentials.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mvcessentials.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MvcEssentials</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MvcEssentials</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mvcessentialsdbserver.database.windows.net,1433;Initial Catalog=MvcEssentials_db;User ID=hxw1302@mvcessentialsdbserver;Password=Hxw875623" Name="Data Source=tcp:mvcessentialsdbserver.database.windows.net,1433;Initial Catalog=MvcEssentials_db;User Id=hxw1302@mvcessentialsdbserver;Password=Hxw875623" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVCRockers.Models.ApplicationDbContext, MVCRockers" MigrationConfiguration="MVCRockers.Migrations.Configuration, MVCRockers" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvcessentialsdbserver.database.windows.net,1433;Initial Catalog=MvcEssentials_db;User Id=hxw1302@mvcessentialsdbserver;Password=Hxw875623</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>