@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <h1>@ViewBag.Headline</h1>
    <p class="lead">please go backstage</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<a href="/backstage/special">Go backstage</a>
<img class="img-responsive" src="" />

<div class="row">
    <div class="col-md-4">
        <h2>blog</h2>
        <p>
            get the lastest news
        </p>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>events</h2>
        <p>schedule of events</p>
        <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>go backstage</h2>
        <p>join us</p>
        <p><a class="btn btn-danger" href="/backstage/special">get tickets</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test repo</h2>
        <p>not sure</p>
        <p><a class="btn btn-success" href="/backstage/special">Test Azure</a></p>
    </div>
</div>
@*@section scripts(<script>var test = true;</script>)*@